<h1 style="background-color: teal;">Welcome traveler to the home page</h1>
<br />
<p>Here you may find:</p>
<ul>
    <li>Basic rails content</li>
    <li>Features in test stages</li>
    <li>Some messy elements perhaps</li>
</ul>
<a href="/about">Click here to know more about us</a>